In [10]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/13/c3/050b8da85b02886f2c649da42cf195a4dc8cc5770a5524cd5b34c36c03a7/psycopg2_binary-2.8.4-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.6MB 332kB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
path = "./tennis_matches.csv"
table_tennis = pd.read_csv(path)
for x in table_tennis["tourney_date"]:
    table_tennis["Fecha_Torneo"] = str(x)
table_tennis.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,Fecha_Torneo
0,2018-M020,Brisbane,Hard,NaN,A,20180101,271,105992,NaN,NaN,...,33.0,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0,20181123
1,2018-M020,Brisbane,Hard,NaN,A,20180101,272,111577,NaN,NaN,...,25.0,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0,20181123
2,2018-M020,Brisbane,Hard,NaN,A,20180101,273,104797,NaN,NaN,...,37.0,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0,20181123
3,2018-M020,Brisbane,Hard,NaN,A,20180101,275,200282,NaN,WC,...,33.0,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0,20181123
4,2018-M020,Brisbane,Hard,NaN,A,20180101,276,111581,NaN,Q,...,28.0,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0,20181123

In [3]:
for x in table_tennis["Fecha_Torneo"]:
    table_tennis["Mes_de_Torneo"]=x[4:6]
    table_tennis["Año_Torneo"]=x[0:4]
table_tennis["deporte"] = "tennis"
table_tennis.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points,Fecha_Torneo,Mes_de_Torneo,Año_Torneo,deporte
0,2018-M020,Brisbane,Hard,NaN,A,20180101,271,105992,NaN,NaN,...,1.0,4.0,47.0,1010.0,52.0,909.0,20181123,11,2018,tennis
1,2018-M020,Brisbane,Hard,NaN,A,20180101,272,111577,NaN,NaN,...,7.0,11.0,54.0,890.0,94.0,593.0,20181123,11,2018,tennis
2,2018-M020,Brisbane,Hard,NaN,A,20180101,273,104797,NaN,NaN,...,10.0,16.0,63.0,809.0,30.0,1391.0,20181123,11,2018,tennis
3,2018-M020,Brisbane,Hard,NaN,A,20180101,275,200282,NaN,WC,...,4.0,6.0,208.0,245.0,44.0,1055.0,20181123,11,2018,tennis
4,2018-M020,Brisbane,Hard,NaN,A,20180101,276,111581,NaN,Q,...,0.0,2.0,175.0,299.0,68.0,755.0,20181123,11,2018,tennis

In [4]:
table_tennis_2 = table_tennis.filter(['tourney_id','match_num','winner_id','winner_name','winner_ioc','winner_age','loser_id','loser_name','loser_ioc','loser_age','Fecha_Torneo', 'Mes_de_Torneo','minutes','deporte'])
table_tennis_2 = table_tennis_2.rename(columns={"tourney_id":"id_torneo",
                              "match_num":"match_no",
                              "winner_id":"id_ganador",
                              "winner_name":"nombre_ganador",
                              "winner_ioc":"nacionalidad_ganador",
                              "winner_age":"edad_ganador",
                              "loser_id":"id_perdedor",
                              "loser_name":"nombre_perdedor",
                              "loser_ioc":"nacionalidad_perdedor",
                              "loser_age":"edad_perdedor",
                              "Fecha_Torneo":"fecha_torneo",
                              "Mes_de_Torneo":"mes_de_torneo"})
table_tennis_2.head()

,id_torneo,match_no,id_ganador,nombre_ganador,nacionalidad_ganador,edad_ganador,id_perdedor,nombre_perdedor,nacionalidad_perdedor,edad_perdedor,fecha_torneo,mes_de_torneo,minutes,deporte
0,2018-M020,271,105992,Ryan Harrison,USA,25.65,104919,Leonardo Mayer,ARG,30.63,20181123,11,123.0,tennis
1,2018-M020,272,111577,Jared Donaldson,USA,21.23,111442,Jordan Thompson,AUS,23.70,20181123,11,90.0,tennis
2,2018-M020,273,104797,Denis Istomin,UZB,31.32,106000,Damir Dzumhur,BIH,25.62,20181123,11,145.0,tennis
3,2018-M020,275,200282,Alex De Minaur,AUS,18.87,105449,Steve Johnson,USA,28.02,20181123,11,104.0,tennis
4,2018-M020,276,111581,Michael Mmoh,USA,19.98,105643,Federico Delbonis,ARG,27.24,20181123,11,69.0,tennis

In [5]:
wcFile = "worldCup2014.csv"
wcTransformed = (
    pd.read_csv(wcFile, encoding = "latin")
    .loc[: , ["match_num", "date", "time", "stadium", "home", "home_score","away","away_score"]]
    .rename ( columns = {
        "match_num": "id",
        "date": "game_date",
        "time": "game_time",
        "home": "home_team",
        "home_score": "home_team_score",
        "away": "away_team",
        "away_score": "away_team_score"
    })
    .set_index("id")
)
for x in wcTransformed["game_date"]:
    wcTransformed["mes_de_partido"]=x[3:6]
wcTransformed["deporte"] = "futbol"
wcTransformed.head()

,game_date,game_time,stadium,home_team,home_team_score,away_team,away_team_score,mes_de_partido,deporte
id,,,,,,,,,
1,12-Jun,17:00,Arena de Sí£o Paulo,Brazil,3,Croatia,1,Jun,futbol
2,13-Jun,13:00,Estíçdio das Dunas,Mexico,1,Cameroon,0,Jun,futbol
17,17-Jun,16:00,Estíçdio Castelí£o,Brazil,0,Mexico,0,Jun,futbol
18,18-Jun,18:00,Arena AmazíÇnia,Cameroon,0,Croatia,4,Jun,futbol
33,23-Jun,17:00,Estíçdio Nacional Maní© Garrincha,Cameroon,1,Brazil,4,Jun,futbol

In [6]:
wcTransformed["winner"] = np.where(wcTransformed["home_team_score"] > wcTransformed["away_team_score"], wcTransformed["home_team"], 
                                   np.where(wcTransformed["home_team_score"] < wcTransformed["away_team_score"], wcTransformed["away_team"], "Tie"))
wcTransformed.head()

,game_date,game_time,stadium,home_team,home_team_score,away_team,away_team_score,mes_de_partido,deporte,winner
id,,,,,,,,,,
1,12-Jun,17:00,Arena de Sí£o Paulo,Brazil,3,Croatia,1,Jun,futbol,Brazil
2,13-Jun,13:00,Estíçdio das Dunas,Mexico,1,Cameroon,0,Jun,futbol,Mexico
17,17-Jun,16:00,Estíçdio Castelí£o,Brazil,0,Mexico,0,Jun,futbol,Tie
18,18-Jun,18:00,Arena AmazíÇnia,Cameroon,0,Croatia,4,Jun,futbol,Croatia
33,23-Jun,17:00,Estíçdio Nacional Maní© Garrincha,Cameroon,1,Brazil,4,Jun,futbol,Brazil

In [7]:
connection_string = "postgresql://postgres:Actuaria9@localhost:5432/deportes_db"
engine = create_engine(connection_string)

In [9]:
engine.table_names()

['newfootball_table', 'newtennis_table']

In [12]:
table_tennis_2.to_sql(name="newtennis_table", con=engine, if_exists="append",index=False)

In [11]:
wcTransformed.to_sql(name="newfootball_table", con=engine, if_exists="append",index=True)